 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 590px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 45px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 18px));
  min-height: 312px;
  grid-gap: 24px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 20px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 75px;
}

.u-section-1 .u-text-3 {
  margin: 38px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 21px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 13px 20px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 75px;
}

.u-section-1 .u-text-5 {
  margin: 38px auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 21px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 13px 20px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 75px;
}

.u-section-1 .u-text-7 {
  margin: 38px auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 21px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 13px 20px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 75px;
}

.u-section-1 .u-text-9 {
  margin: 38px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -75px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -75px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -75px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 130px;
    margin-left: 192px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 61px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-list-1 {
    grid-template-rows: auto;
    margin-top: 61px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    min-height: 460px;
    grid-gap: 24px 24px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 16px;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 16px;
    margin-left: 102px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 25px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 18px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 16px;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 16px;
    margin-left: 102px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 25px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 18px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 16px;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 16px;
    margin-left: 102px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 25px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 18px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 16px;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 16px;
    margin-left: 102px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 25px;
    margin-left: 43px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 144px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 91px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 554px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 682px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 30px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 339px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 15px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 343px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin: 27px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 339px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 2px 0 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}