.u-section-1 .u-sheet-1 {
  min-height: 131px;
}

.u-section-1 .u-list-1 {
  width: 656px;
  margin: 0 -91px 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 61px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  margin: 0 auto 0 -17px;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  margin: 0 auto 0 -17px;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 83px 0 0;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: -35px auto 0 14px;
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    min-height: 183px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 702px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-2 .u-group-1 {
  min-height: 469px;
  width: 492px;
  margin: 40px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-form-1 {
  height: 321px;
  margin: 0;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 432px;
  }

  .u-section-2 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-form-1 {
    height: 409px;
    width: 300px;
    margin-left: 0;
    margin-right: 0;
  }
}